div {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 50px;
  color: red;
}

.boton {
  background-color: #9c1616;;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
  