<div>

  <div *ngIf="loading" class="card">
    <div class="container">

      <h1>Practica 5</h1>
      <hr>
      <hr>

      <h2>Los datos son:</h2>
      <hr>

      <p>{{ persona.nombreC }}</p>

      <p>{{ persona.direccion }}</p>   

      <p>{{ persona.nombre }}</p>
    </div>
  </div>

  <button type="button" class="boton" (click)="ejecutar()" [disabled]="loading">
    <span *ngIf="!loading">Mostrar Datos</span>
    <span *ngIf="loading">Se ocultaran los datos... </span>
  </button>
  

</div>
